:root {
    --corPrincipal: rgb(255, 102, 0);
    --corPrincipalDark: rgb(156, 63, 0);
    --vermelhoFechado: #823c3c;
    --verdeAberto: #439044;
}
#App {
    min-height: 100vh;
    background: #eee;
}

.border-bottom-custom-orange {
    border-bottom: 3px solid var(--corPrincipal);
}

.border-custom-orange {
    border: 3px solid var(--corPrincipal);
}

.bg-custom-orange {
    background-color: var(--corPrincipal);
}

.text-custom-orange {
    color: var(--corPrincipal);
}

.hover\:bg-custom-orange-dark:hover {
    background-color: var(--corPrincipalDark);
}

.collapse {
    max-height: 500px;
    animation-name: up;
    animation-duration: 0.15s;
}

.collapse.hid {
    max-height: 0px;
    animation-name: down;
    animation-duration: 0.15s;
}

.hover\:bg-custom-orange-dark:hover {
    background-color: var(--corPrincipalDark);
}

.collapse {
    max-height: 500px;
    animation-name: up;
    animation-duration: 0.15s;
}

.collapse.hid {
    max-height: 0px;
    animation-name: down;
    animation-duration: 0.15s;
}